<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
		<script src="js/bars-demo.js"></script>
		<link href="css/style.css" rel="stylesheet" type="text/css"/>
			<title>Bars Demo</title>
	</head>
		<body ng-app="barsDemoApp" ng-controller="barsDemoCtrl">
			<h3>Bars Demo Assignment</h3>
			 <div id="mainDiv"></div><br>
             <div id="buttonDiv">
            	<button id="btn1" ng-click="changeBarsWidth('btn1')" class="btn"></button>
            	<button id="btn2" ng-click="changeBarsWidth('btn2')" class="btn"></button>
            	<button id="btn3" ng-click="changeBarsWidth('btn3')" class="btn"></button>
				<button id="btn4" ng-click="changeBarsWidth('btn4')" class="btn"></button>
        	</div>
		</body>
</html>

 